    
.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 273px;
}

.actions-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.progress-indicator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: center;
}

.timer-history-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    padding: 10px;
}

.history-item-time {
    color: rgba(0, 0, 0, 0.54);
    padding: 5px 5px 0px 0px;
}

.history-item-description {
    color: rgba(0, 0, 0, 0.87);
}

.history-container {
    margin-top:14px;
}
.timer {
    margin-top: 14px;
}
